
<h2>Quizzes</h2>

<ul class="list-group">
  <li *ngFor="let quiz of quizzes" class="list-group-item">

    <a routerLink="/table/courses/{{courseId}}/quizzes/{{quiz._id}}">
      {{quiz.title}}
    </a>

    <a class="btn btn-primary float-right"
       routerLink="/table/courses/{{courseId}}/quizzes/{{quiz._id}}">
      Start
    </a>

  </li>
</ul>

<div>

  <div class="my-3">
  <button (click)="findAttemptsForQuizzes()" class="btn btn-success">View your grades</button>
  </div>

  <table class="table">

  <thead>
  <tr>
    <th>Quiz title</th>
    <th>Attempt scores</th>
  </tr>
  </thead>

  <tbody>
  <tr *ngFor="let quizAttempts of quizzesAttempts">
    <td>
      {{quizAttempts.quizTitle}}
    </td>
    <td>
      {{quizAttempts.quizScores}}
    </td>
  </tr>
  </tbody>

  </table>

</div>



